{% extends 'landpage/base.html' %}
{% block ngo_active %}active{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<script
		  src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>
	<script src="bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

<h1><center>Terms and Conditions</center></h1>
	<div class="container">
		<div class="jumbotron">
	<strong></strong>
	<p>Last modified: February 10, 2018</p>
	<p><strong>1. General</strong></p>
	<p>These Terms and Conditions ("Agreement") governs the use of the services ("cangote.com") that are made available by cangote.com. These Terms and Conditions represent the whole agreement and understanding between cangote.com and the individual or entity who subscribes to our service .</p>
	<p>PLEASE READ THIS AGREEMENT CAREFULLY. By submitting your application and by your use of the Service, you agree to comply with all of the terms and conditions set out in this Agreement. cangote.com may terminate your account at any time, with or without notice, for conduct that is in breach of this Agreement, for conduct that cangote.com believes is harmful to its business, or for conduct where the use of the Service is harmful to any other party.</p>
	<p>    cangote.com may, in its sole discretion, change or modify this Agreement at any time, with or without notice. Such changes or modifications shall be made effective for all Subscribers upon posting of the modified Agreement to this web address (URL): http://www.cangote.com/terms-and-conditions/. You are responsible to read this document from time to time to ensure that your use of the Service remains in compliance with this Agreement.</p>
	<p><strong>2. Services</strong></p>
	<p>cangote.com offers Subscribers domain name registration, website hosting, and email hosting services for the duration of the service term purchased from cangote.com.</p>
	<p>Services are provided on the basis of facility and equipment availability. cangote.com reserves the right to modify, change, or discontinue any aspect of the Services at any time.</p>
	<p>Access to the web and email servers is terminated upon expiry of the Service.</p>
	<p><strong>3. Web Hosting</strong></p>
	<p>All cangote.com web hosting accounts will display a "Coming Soon" web page by default when activated. This page informs visitors that the Subscriber has recently setup their account with cangote.com. The "Coming Soon" default index web page may be removed by the Subscriber at any time once they have access to the web server. The "Coming Soon" web page may include, but without limitation to, the following:</p>
	<p>All web page error requests (such as 403 errors or 404 errors) will direct traffic to a default cangote.com error page. This error page informs visitors that the web page they are looking for cannot be found, and may include, but without limitation to, the following:
        Links to additional products and services offered by cangote.com.
        Advertisements for products and services offered by third-parties.
        An internet search engine interface.
	</p>
	<p>Depending on which hosting plan you choose, you may request to change the billing term of your hosting service through your account control panel. In such cases, the expiry date of your hosting service will be adjusted according to the billing term that you have requested. Any optional features for your hosting plan will be billed according to the term that you have requested.</p>
	<p><strong>4. Website Builder</strong></p>
	<p>cangote.com provides Subscribers with a non-exclusive, non-transferable, limited license to use the Website Builder. The Website Builder is developed and owned by cangote.com, and any reproduction, modification, creation of derivative works from or redistribution of the Website Builder is expressly prohibited. The Website Builder, its structure, sequence, organization and source code are considered trade secrets of cangote.com and are protected by trade secret laws.</p>
	<p>cangote.com does not claim ownership and is not responsible for any of the information, code, data, text, software, music, sounds, photographs, pictures, graphics, videos, messages, files or other materials ("User Content") submitted using the Website Builder. Subscriber is entirely responsible for all User Content uploaded, posted, emailed or otherwise transmitted via the Website Builder.

	</p>
	<p>In the event of a dispute regarding any Image obtained via the Website Builder, you hereby release cangote.com, its officers, directors, owners, agents, and employees from claims, demands, and damages, actual and consequential, of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any connection with such disputes. cangote.com is not a party to, and shall not be involved in or responsible for, transactions, agreements, and/or disputes between you and any third party.</p>
	<p><strong>5. Email</strong></p>
	<p>cangote.com's email service provides customers with the capability to send and receive email via the Internet. cangote.com retains the right, at our sole discretion, to restrict the volume of messages transmitted or received by you in order to maintain the quality of our email services to other Subscribers and to protect our computer systems.</p>
	<p>As an owner and operator of the equipment and other resources utilized to provide services, cangote.com has the legal right to block electronic communications from other entities on the Internet.</p>
	<p>cangote.com relies on the support of its sponsors and advertisers to help offset the cost of the Services offered to its Subscribers. You acknowledge that as part of your cangote.com Service, advertisement sponsored email newsletters may be sent to Subscribers and cangote.com email service email accounts.</p>
	<p><strong>6. Definition of Unlimited Usage</strong></p>
	<p>What "Unlimited" means: cangote.com does not set an arbitrary limit on the amount of resources an account can use.What "Unlimited" DOES NOT mean: The accounts are not intended to support the greater web hosting needs of large enterprises or to be used as an online storage warehouse to store backups, archiving of electronic files or emails, documents, log files, etc. or to be used as a media file streaming/sharing hub.</p>
	<p>What "Unlimited" DOES NOT mean: The accounts are not intended to support the greater web hosting needs of large enterprises or to be used as an online storage warehouse to store backups, archiving of electronic files or emails, documents, log files, etc. or to be used as a media file streaming/sharing hub.</p>
	<p>Reselling any of the Service's resources is strictly prohibited. Any accounts found to be reselling resources will immediately be suspended, with or without notice. Reselling of account resources is only permitted if you are using a Reseller Hosting Plan, a Virtual Private Server (VPS) or a Dedicated Server.

	</p>
	<p><strong>7. Domain Name Registration</strong></p>
	<p>cangote.com offers domain name registration and renewal services in partnership with ICANN accredited registrars In2net Network Inc, Tucows, and Network Solutions. cangote.com processes registration and renewal services through these respective registrars at its discretion.</p>
	<p>You acknowledge and agree that you may not transfer the domain name registration to another domain name registrar during the first 60 days of the initial registration, or within 60 days of any successful transfer or renewal of the registration. cangote.com is authorized to deny any such transfer requests.</p>
	<p>Domain names which have opted in to the Automatic Domain Renewal service, and any optional features associated with them, will be automatically renewed for the minimum term available for that domain type at the regular renewal rate 6 days prior to expiry. You will be solely responsible for all renewal costs and for any other costs in doing so. Subscribers may choose to opt in or out of the Automatic Domain Renewal service via your account control panel.</p>

	</div>
	</div>

<div class="footer">
     <div class="left">
       <span><a href="{% url 'landpage:FAQ' %}">FAQ</a></span>
       <span><a href="{% url 'landpage:about_us' %}">About Us</a></span>
       <span><a href="{% url 'landpage:privacy' %}">Privacy</a></span>
       <span><a href="{% url 'landpage:terms' %}">Terms and Conditions</a></span>
      </div>
     <div class="right">
       <span><a href="{% url 'landpage:signupNGO' %}">New to our platform, connect with us as a NGO</a></span>
       <span><a href="{% url 'landpage:login' %}">Login as a Ngo</a></span>
     </div>
   </div>

<style>
    .footer{
  background-color: #f2f2f2;
  border-top: solid 1px #dfdfdf;
  margin-top: 30px;
  padding-top: 45px;
  margin-bottom: 0;
  padding-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
/*   align-self: flex-end; */


}

.footer a{
  margin: 10px;
}
.footer a:active{
  color: tomato;
}


.left{
  /*background-color: lightblue;*/
  padding-left: 27px;
}

.right{
  /*background-color: lightgreen;*/
  padding-right: 27px;
}
</style>


{% endblock %}